/* Asegúrate de que el <body> use Flexbox y que ocupe toda la altura de la pantalla */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana del navegador */
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand img {
    height: 100px;
}

.navbar-nav .nav-link {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

#searchInput {
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
}

main {
    flex: 1; /* Permite que el contenedor principal crezca para llenar el espacio disponible */
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer img {
    height: 50px;
    width: 100px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer .fa-2x {
    font-size: 2em;
}

footer p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

#content-container {
    flex: 1; /* Permite que el contenedor principal crezca para llenar el espacio disponible */
}

.card {
    height: 100%; /* Asegura que la tarjeta ocupe toda la altura disponible */
    display: flex;
    flex-direction: column; /* Coloca el contenido verticalmente */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card:hover {
    transform: scale(1.20);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    min-height: 200px;
    object-fit: contain;
    margin-top: 10px;
    height: auto;
}

.card-body {
    flex: 1; /* Permite que el contenido crezca para llenar el espacio */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el botón se mantenga al final */
}

.card-title {
    margin-bottom: 1rem; /* Añade espacio debajo del título */
}

#card-count {
    font-size: 1.2rem;
    font-weight: bold;
}

.no-results {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#view-favorites {
    margin-right: 10px;
}